@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-br from-slate-950 to-slate-900 min-h-screen text-slate-100 bg-fixed selection:bg-emerald-500/30;
  }
}